html {
    background-color: #202869;
    color: #ffffff;
}
body {
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Montserrat', sans-serif;
}
h1 {
    font-size: 1.5rem;
    font-family: 'JetBrains Mono', monospace;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
nav {
    display: inline-flex;
    font-family: 'Ubuntu', sans-serif;
}
nav ul {
    background-color: #fff;
    display: flex;
    flex-wrap: wrap;
}
nav ul li{
    flex-grow: 4;
    font-size: 2rem;
    background-color: #000000;
    color: #ffffff;
    border: 2px solid #fff;
    border-radius: 24px;
    padding: 9px;
    margin: 0 10px;
}
nav ul li:hover{
    background-color: #6fff00;
    transition: 0.5s;
    cursor: pointer;
    color: #000000;
}
nav ul li a{
    text-decoration: none;
    color: #ffffff;
}
h3 {
    font-size: 2.5rem;
}
hr {
    font-family: 'Ubuntu', sans-serif;
    overflow: visible; /* For IE */
    padding: 0;
    border: none;
    border-top: 2px solid #fff;
    text-align: center;
}
hr:after {
    position: relative;
    top: -1.5rem;
    font-size: 2.5rem;
    padding: 0 1rem;
    background: #202869;
}
hr.omnie:after {
    content: "O mnie";
}
hr.projekty:after {
    content: "Projekty";
}
hr.umiejetnosci:after {
    content: "Umiejętności";
}
hr.kontakt:after {
    content: "Kontakt";
}
p, section ul {
    margin-top: 0;
    padding-top: 0;
    margin-bottom: 4rem;
    text-align: justify;
    font-size: 2rem;
}
#umiejetnosci {
    display: flex;
    justify-content: space-around;
}
.togather {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items:center;
    width:100%;
}
#kontakt {
    display: flex;
    justify-content: center;
}